
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Kanit:wght@200&display=swap');

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    box-sizing: 0;
    user-select: none;

}

.fundo {
    height: 100%;
    width: 100%;
    background: url('https://st2.depositphotos.com/1814366/8670/i/600/depositphotos_86700192-stock-photo-smoke-over-black-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    transition: ease-in 0.5s ease;
}

.caixa {
    margin: 0 0 30px 0;
    height: 25%;
    width: 90%;
    background: url('dialogo2.jpeg');
    border-radius: 5px;
    border: solid black 2px;
    display: flex;
    backdrop-filter: blur(8px);
    justify-content: center;
    align-items: center;
}

#dialogo {
    height: 70%;
    width: 90%;
    color: white;
    text-align: center;
    font-size: 1.4rem;
    margin: 10px;
    white-space: pre-line;    
    display: flex;
    justify-content: center;
    align-items: center;
    


}

.resp {
    width: 90%;
    height: 5%;
    margin: 0 0 5px 0;
    border-radius: 5px;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    vertical-align: center;
}

.resp p:hover{
    box-shadow: 0px -1px 12px 2px rgba(255, 255, 255, 0.75);
    color: white ;
    border: black 1px solid;
}

.resp p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.resp p {
    flex: 1;
    height: 94%;
    margin: 3px;
    background:  url('dialogo2.jpeg');
    border: solid black 2px;
    border-radius: 5px;

}

.config {
    width: 2.7%;
    height: 5%;
    background: url(menu.svg) #9E0000 no-repeat center;
    margin: 1% 0 0 96%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-self: center;
    
}



.opc {
    width: 100%;
    height: 400%;
    background: #9E0000;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 400% 0 0 0;

}

.button {
    
    height: 20%;
    width: 100%;
    margin: 5px;
}


.button.two{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.4rem;
    
}

.button.one{
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: black;
    font-size: 1.1rem;
    
}

.button.three{
    background: url(clipboard.svg)  no-repeat center;
}

.button.four{
    background: url(album.svg)  no-repeat center;
}

.button:hover{
    background-color: #4E0000;
}

#dialogo:after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}


@keyframes pisca {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

#tela {
    display: none;
    width: 35%;
    background-color: rgba(25, 25, 25, 0.705);
    padding: 10px 40px 10px 40px;
    margin: 0 0 20% 0;
    position: absolute;
    border: black 1px solid;
    backdrop-filter: blur(12px);
    border-radius: 5px;
    color: white;
}


#tela label {
    font-size: 1.3rem;
}

#tela form {
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 10px 10px;
    border-bottom: 1px solid black;
}

#tela form h1{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 3rem;
    padding: 0;

}

#tela form input {
    width: 100%;
    font-size: 1.3rem;
    background: rgba(0, 0, 0, 0.637);
    border: black 1px solid;
    text-align: center;
    padding: 5px;
    backdrop-filter: blur(10px);
    margin: 5px 0 5px 0;
    color: white;
}

#tela form button {
width: 25%;
padding: 5px;
    background: transparent;
    color: white ;
    border: black 1px solid;
    margin: 5px;
    font-size: 1rem;

}

#tela form button:hover {
  
    box-shadow: 0px -1px 12px 2px rgba(255, 255, 255, 0.75);
        color: white ;
        border: black 1px solid;
    
}

#progressoSalvo{
    font-family: 'Kanit', sans-serif;
    margin-top: 5px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#progressoSalvo h2{
 font-size: 2.5rem;
 font-family: 'Chakra Petch', sans-serif;
}
    
#progressoSalvo p{
        font-size: 1.3rem;
        width: 90%;
        background: rgba(0, 0, 0, 0.637);
        border: black 1px solid;
        text-align: center;
        padding: 5px;
        backdrop-filter: blur(10px);
}


#progressoSalvo p:hover {
  
        box-shadow: 0px -1px 12px 2px rgba(255, 255, 255, 0.75);
            color: white ;
 }


 #falaTela {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 70%;
    background-color: rgba(25, 25, 25, 0.993);
    border: 1px solid black;
    padding: 10px;
    overflow-y: auto;
    text-align: center;
  }
  
  #falaTela p {
    margin: 20px 0;
    color: white;
    font-size: 1.1rem;
    border-bottom: 1px solid white;
    
    
  }
  